{% extends "header.html" %}
{% block body %}
<body>
	<div class="container">
		<br>
		<h4>Please Provide userID to view all your message:</h4>
		<br>
     {% from "_formhelpers.html" import render_field %}
		<form method=post action="/all/">
			<dl>
  			{{render_field(form.userID)}}

			</dl>
			<p><input type=submit value=View_all></p>
		</form>
<a href='http://127.0.0.1:5000/specific/'>Click here for specific message</a> </p>
		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}
</div>
</body>
{% endblock %}
