{% extends "header.html" %}
{% block body %}
<body>
	<div class="container">
		<br>
		<h4>Delete whichever message you want</h4>
		<br>
		<br>
		<h3>You will require your ID as well as message no. to delete message.</h3>
		<h3>If you forget your message no, check retreive all message page. </h3>
		<br>
     {% from "_formhelpers.html" import render_field %}
		<form method=post action="/delete/">
			<dl>
  			{{render_field(form.userID)}}
				{{render_field(form.msgID)}}

			</dl>
			<p><input type=submit value=Delete></p>

		</form>
		<p>You can see your message &nbsp &nbsp &nbsp<a href='http://127.0.0.1:5000/all/'>Click here to see all your message &nbsp &nbsp &nbsp</a>
		<a href='http://127.0.0.1:5000/posting/'>Click here post new message</a> </p>

		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}

	</div>
</body>
{% endblock %}
