{% extends "header.html" %}
{% block body %}
<body>
	<div class="container">
		<br>
		<h4>Please Post new message:</h4>
		<br>
     {% from "_formhelpers.html" import render_field %}
		<form method=post action="/posting/" autocomplete="off">
			<dl>
  			{{render_field(form.userID)}}

				{{render_field(form.message)}}

			</dl>
			<p><input type=submit value=Post></p>
		</form>

		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}

	</div>
</body>
{% endblock %}
